body{
	font-family: 'Titillium Web', sans-serif;
}
header{
	background-color: #87509c;
	overflow: hidden;
	padding-bottom: 130px;
}
.container{
	width: 80%;
	margin: auto;
}
.mobile_menu_icon{
	display: none;
}
.header_top{
	overflow: hidden;
	margin-top: 50px;
}
.logo{
	width:20%;
	float: left;
}
.nav{
	width: 80%;
	float: left;
	
}
.nav ul{
	margin: 10px;
	padding: 0px;
	text-align: right;

}
.nav ul li{
	display: inline-block;
	list-style: none;

}
.nav ul li a{
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;

}
.nav ul li a:hover{
	background-color: #643a79;
}
.header_content{
	width: 65%;
	text-align: center;
	margin: auto;
	margin-top: 140px;

}

.header_content h2{
	color: #f7f3ea;
}

.brown_btn{
  background-color: #eb7d4b;
  width: 270px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-top: 50px;
  font-weight: 700;
  display: inline-block;
}
.service{
	background-color: #17c2a4;
	overflow: hidden;
	padding: 120px 0px;
}

.service_box{
	width: 22%;
	float: left;
	margin-left: 10px;
	margin-top: 60px;
	color: #fff;
	text-align: center;
}
.section_header{
	text-align: center;
	color: #fff;
	
}
#first_service_box,
#first_team_box  {
	margin-left: 0px;
}
.section_header h2{
	position: relative;

}
.section_header h2:after{
	width: 100px;
	height: 2px;
	content: '';
	background: #000:;
	position: absolute;
}


.section_header p{
	opacity: 0.7;
}
.service_box h4{
	margin-top: 40px;
	margin-bottom: 00px;
	font-size: 24px;
}



.service_box p{
	font-size: 16px;
	line-height: 22px;
	opacity: .8
}
.service_box img{
	width: 80px;
	height: 100px;
}

i{
	font-size: 100px;
}

.team_section{
	background-color: #e7f1f8;
	padding: 120px 0px;
	overflow: hidden;
}
.team_header{
	color: #3f5079;

}
.team_header p{
	opacity: 1;
}


.team_boxs{
	margin-top: 100px;
}
.single_team_box{
	width: 24%;
	float: left;
	text-align: center;
	margin-left: 10px;


}
.single_team_box img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.single_team_box h5{
	margin-top: 0px;
}
.single_team_box h2{
	margin-top: 5px;
}

.single_team_box p{
	line-height: 1.6
}
.skills_section{
	background: #ffffff;
	overflow: hidden;
	padding: 120px 0px;
}
.skills_header{
	margin-top: 80px;
	text-align: center;
}
.skills_header h2{
	color: #3f4552;
}

.skills_boxs{
	margin-top: 80px;
	
}
.single_skills_box{
	width: 20%;
	float: left;
	text-align: center;
	margin-left:10px;
	padding: 60px 10px;
}
#icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	background-color:#000;
	margin-left: 5px;
}
.portfolio{
	background-color: #ffdd99;
	overflow: hidden;
	padding: 80px 0px;
}
.portfolio_header{
	color: #393939;
	padding-bottom: 30px;
}

.portfolio_filter_menu ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin: 30px 0px 30px 0px;
}
.portfolio_filter_menu ul li{
	list-style: none;
	display: inline-block;
	
}
	.portfolio_filter_menu ul li a{
    text-decoration: none;
    color: #000;
	text-transform: uppercase;
	display: block;
	padding: 5px 15px;
	background: #ebc985;
	transition: .3s;
}
.portfolio_filter_menu ul li a:hover{
	background-color: #ffffff;
}
.portfolio_boxs{
	margin-top: 60px;

}
.single_portfolio_box{
	width: 48%;
	float: left;
	text-align: center;
	margin-top: 30px
}
.single_portfolio_box img{
	width: 100%
}
.single_portfolio_box h2{
	font-weight: 100;
}
.clear{
	clear: both;

}

.portfolio_load_more_projects_btn{
	width: 270px;
	margin: 50px auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #17c2a4;
	display: block;
	padding:  25px 0px;
	color: #fff;
	border-radius: 5px;
	font-weight: 700;
	border-bottom: 1px solid black;
}
.testimonial{
	background-color: #d74680;
	padding: 80px 0px;
}
.testimonial:after{
	display: block;
	content: '';
	clear: both;

}
.testimonial_boxs{
	margin-top: 50px;
}
.testimonial_single_box{
	width: 48%;
	float: left;
}
.testimonial_img{
	width: 30%;
	float: left;
}
.testimonial_content{
	float: left;
	width: 65%;
	
}

.testimonial_img img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.testimonial_content h2{
	margin: 20px 0px 0px 0px;
	font-size: 24px;
	text-transform: uppercase;
}
.testimonial_content h5{
	margin: 0px;
	color: #ffdd99;
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 10px
}
.testimonial_content p{
	margin: 0px
}

.contact_section{
	background-color: #3c5499;
	padding: 60px 0px;
	overflow: hidden;
}

.first_half {
  width: 48%;
  float: left;
  position: relative;

}
.second_half {
  width: 48%;
  float: left;
  position: relative;
  margin-left: 40px;
  }
.first_column{
	margin-top: 50px;
	margin-bottom: 30px;
}

.first_half label{
	position: absolute;
	color: #fff;
	margin-left: 10px ;
	margin-top: 8px;
}
.first_half input{
	width: 100%;
	background:#273a71;
	padding: 10px 0px;
	border-radius: 5px;
	border:none;

}

.first_half label span{
	color: red;

}
.second_half label{
	position: absolute;
	color: #fff;
	margin-left: 10px ;
	margin-top: 8px;
}
.second_half input{
	width: 100%;
	background:#273a71;
	padding: 10px 0px;
	border-radius: 5px;
	border:none;

}

.second_half label span{
	color: red;

}
.message textarea {
    background: #273a71;
    border: none;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    /* position: relative; */
}
.message label {
    position: absolute;
    top: 95px;
    left: 20px;
    color: #fff;
}
.message {
    position: relative;
}
.message label span {
    color: red;
}
form{
	margin-top: 50px;
}
.send_btn {
    margin-top: 50px;
}
.send_btn input[type='submit'] {
    width: 250px;
    display: block;
    margin: auto;
    padding: 20px 0px;
    background: #30bae7;
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}

footer{
	padding: 30px;
	background: #344b8e;
}

footer ul{
	margin: 0px;
	padding: 0px;
}
footer ul li{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}
footer ul li:first-child{
	margin: 0px
}

footer ul li a{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
    transition: .3s;
    text-transform: capitalize;
}
footer ul li a:hover{
	color: blue;
}





